.navbar-header {
  background-color: darkcyan;
  background-image: linear-gradient(to bottom, darkgreen, darkcyan);
  margin-bottom: 2rem;
  min-height: 8rem;
}

.header-link {
  color: white;
}
.header-link:hover {
  color: gray;
}